/* Q&A.css */
body {
    font-family: Monospace, serif;
    margin: 0;
    padding: 0;
    background-color:#1E1E1E ;

}

header {
    background-color: rgb(22, 20, 20);
    border-bottom: red 2px solid;
}

.top-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 1px;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
        
}

.top-menu ul li {
    display: inline;
    float: left;

    
}
.top-menu ul li a {
    display: block;
    color: white;
    transition: .5s;
    font-weight: 500;
    text-shadow: 0 0 .1em, 0 0 .3em;
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
}
.top-menu ul li a:hover{
    animation: .8s text-blink-effect infinite alternate;
}
.active {
  background-color: #3B3B3B;
}
    
@keyframes text-blink-effect {
    50% {
      text-shadow: 0 0 .1em, 0 0 .3em;
    }
    to {
        text-shadow: 0 0 .1em;
    }
  }


.Q_A {
    color: white;
    position: relative;
    height: 50px;
    text-align: center;
    top: 50px;
    font-size: 40px;
    display: flex; /* 使用 Flexbox 布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    animation: 5s text-blink-effect infinite alternate; /* 应用闪烁动画 */
}

.question_select{
    float: left;
    transform: translateX(20px);
    position: relative;
    max-width: 320px;
    width: 20%;
    height: 20%;
    border-radius: 5px;
    margin: 80px auto 30px;
    
    
}
.select_btn{
    display: flex;
    height: 30px;
    align-items: center;
    padding: 0 11px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    box-shadow: 6px -4px 66px 2px rgba(255,255,255,0.41);
    justify-content: space-between;
}
.select_btn .text_btn{
    font-size: 20px;
}

.select_btn .arrow_down{
    height: 21px;
    width: 22px;
    display: flex;
    background: grey;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border-radius: 50%;
    transition: 0.3s;
    
    
}
.select_btn.close .arrow_down{
    transform: rotate(-180deg);
}

.list{
    position: relative;
    margin-top: 15px;
    background-color: black;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    display: block;
}
.select_btn.close ~ .list{
    display: none;
}
.list .list_items{
    display: flex;
    align-items: center;
    list-style: none;
    height: 30px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 5px;
}
.list .list_items:hover{
    background-color: dimgrey;
}
.list_items .item_text{
    font-size: 16px;
    font-weight: 400;
    color: lightpink;
}

.list_items .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}

.list_items.checked .checkbox{
    background-color: black;
    border-color: aquamarine;
}
.checkbox .check_icon{
    font-size: 11px;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
    
}

.list_items.checked .check_icon{
    transform: scale(1);
}