/* Reset default padding and margin for all elements */
* {
  padding: 0;
  margin: 0;
}

/* Set the background color of the entire page */
body {
  background-color: rgb(22, 30, 49);
}

/* Style for the top menu bar */
.top-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 1px;
  overflow: hidden;
  background-color: black;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Style for individual items in the top menu */
.top-menu ul li {
  display: inline;
  float: left;
}

/* Style for links in the top menu */
.top-menu ul li a {
  display: block;
  color: white;
  transition: .5s;
  font-weight: 500;
  text-shadow: 0 0 .1em, 0 0 .3em;
  text-align: center;
  padding: 10px 25px;
  text-decoration: none;
}

/* Add a hover effect to the top menu links */
.top-menu ul li a:hover {
  animation: .8s text-blink-effect infinite alternate;
}

/* Style for the active menu item */
.active {
  background-color: #3B3B3B;
}

/* Keyframes for text blinking effect */
@keyframes text-blink-effect {
  50% {
    text-shadow: 0 0 .1em, 0 0 .3em;
  }
  to {
    text-shadow: 0 0 .1em;
  }
}

/* Style for the main content box */
.box {
  width: 75vw;
  height: 80vh;
  background: url(/static/images/bc.png);
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  font-family: NeueMachina-Regular;
  overflow: hidden;
  box-shadow: 0px 0px 12px 20px rgba(255, 255, 255, 0.2);
}

/* Style for the forms inside the content box */
.box .forms {
  width: 50%;
  height: 100%;
  border-radius: 30px 0 0 30px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

/* Style for login, register, and forgot password buttons, including hover effect and underline */
.box .forms .tips {
  width: 70%;
  height: 10%;
  box-sizing: border-box;
  font-size: 25px;
  margin: 4vh;
}

.box .forms .tips span {
  margin: 0 10px 0 0;
  cursor: pointer;
  padding-bottom: 5%;
  transition: 0.1s;
  color: white;
}

.box .forms .tips span:hover {
  border-bottom: 4px solid rgb(249, 177, 122);
  color: white;
}

.box .forms .tips .login-btn {
  border-bottom: 4px solid white;
  color: white;
}

/* Adjust the spacing between login, register, and forgot password sections */
.box .forms .login,
.box .forms .register,
.box .forms .fogot-pwd {
  width: 70%;
  top: 50%;
}

/* Adjust the position of "Hello" and "One-click triple connection" headings */
.box .forms .login .form-title h1,
.box .forms .register .form-title h1,
.box .forms .fogot-pwd .form-title h1 {
  margin-bottom: 4%;
  margin-top: 5%;
}

/* Adjust the spacing between input fields and the previous block */
.box .forms .login .form,
.box .forms .register .form,
.box .forms .fogot-pwd .form {
  margin-top: 2vw;
}

/* Add prefixes to input fields */
.box .forms .login .form .username::before,
.box .forms .register .form .username::before,
.box .forms .fogot-pwd .form .username::before {
  content: "UserName";
}

.box .forms .fogot-pwd .form .email::before,
.box .forms .register .form .email::before {
  content: "Email";
}

.box .forms .login .form .password::before,
.box .forms .register .form .password::before,
.box .forms .fogot-pwd .form .password::before {
  content: "Password";
}

.box .forms .register .form .conform-password::before,
.box .forms .fogot-pwd .form .conform-password::before {
  content: "Confirm Password";
}

/* Adjust the position and prefixes for the verification code */
.box .forms .login .form .code,
.box .forms .register .form .code,
.box .forms .fogot-pwd .form .code {
  position: relative;
}

.box .forms .login .form .code::before,
.box .forms .register .form .code::before,
.box .forms .fogot-pwd .form .code::before {
  content: "Code";
}

.box .forms .login .form .code .veri-code-tips,
.box .forms .register .form .code .veri-code-tips,
.box .forms .fogot-pwd .form .code .veri-code-tips {
  position: absolute;
  right: 20px;
  top: 36px;
  color: rgb(113, 123, 185);
  cursor: pointer;
}

/* Style for input fields, including size, position, and animation */
.box .forms .login .form .input-item,
.box .forms .register .form .input-item,
.box .forms .fogot-pwd .form .input-item {
  width: 100%;
  height: 70px;
  margin: 10px 0;
  transition: 0.5s;
}

.box .forms .login .form .input-item::before,
.box .forms .register .form .input-item::before,
.box .forms .fogot-pwd .form .input-item::before {
  display: block;
  position: absolute;
  color: rgb(100, 108, 154);
  padding: 10px 5px 1px 20px;
  font-size: 14px;
}

/* Style for input field text color, size, position, and border */
.box .forms .login .form .input-item input,
.box .forms .register .form .input-item input,
.box .forms .fogot-pwd .form .input-item input {
  width: 100%;
  height: 100%;
  background-color: white;
  outline: none;
  border: 0;
  padding: 20px 5px 1px 20px;
  box-sizing: border-box;
  color: darkblue;
  font-size: 20px;
}

.box .forms .login .form .input-item input:focus,
.box .forms .register .form .input-item input:focus,
.box .forms .fogot-pwd .form .input-item input:focus {
  border-left: 3px solid coral;
}

/* Style for the "Remember Password" and "Forgot Password" sections */
.box .forms .login .form .other-select,
.box .forms .register .form .other-select,
.box .forms .fogot-pwd .form .other-select {
  display: flex;
  justify-content: space-between;
  color: floralwhite;
  margin-top: 1vw;
}

/* Style for the "Remember Password" checkbox and related tips */
.box .forms .login .form .other-select #check:checked + .rem-pwd-tips,
.box .forms .register .form .other-select #check:checked + .rem-pwd-tips,
.box .forms .fogot-pwd .form .other-select #check:checked + .rem-pwd-tips {
  color: #fff;
}

.box .forms .login .form .other-select input[type=checkbox],
.box .forms .register .form .other-select input[type=checkbox],
.box .forms .fogot-pwd .form .other-select input[type=checkbox] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  position: relative;
  border: 0;
}

/* Style for the checkbox's appearance */
.box .forms .login .form .other-select input[type=checkbox]::after,
.box .forms .register .form .other-select input[type=checkbox]::after,
.box .forms .fogot-pwd .form .other-select input[type=checkbox]::after {
  position: absolute;
  top: 0;
  color: #000;
  width: 20px;
  height: 20px;
  display: inline-block;
  visibility: visible;
  padding-left: 0;
  text-align: center;
  background-color: white;
  content: " ";
}

/* Style for the checked checkbox */
.box .forms .login .form .other-select input[type=checkbox]:checked::after,
.box .forms .register .form .other-select input[type=checkbox]:checked::after,
.box .forms .fogot-pwd .form .other-select input[type=checkbox]:checked::after {
  content: "✔";
  color: black;
  font-size: 30px;
  line-height: 20px;
  background-color: white;
  border: 1px solid white;
}

/* Change cursor style on hover for certain text */
.box .forms .login .form .other-select .rem-pwd .rem-pwd-tips,
.box .forms .register .form .other-select .rem-pwd .rem-pwd-tips,
.box .forms .fogot-pwd .form .other-select .rem-pwd .rem-pwd-tips {
  cursor: pointer;
}

/* Style for the "Forgot Password" button */
.box .forms .login .form .other-select .fogot-pwd-btn,
.box .forms .register .form .other-select .fogot-pwd-btn,
.box .forms .fogot-pwd .form .other-select .fogot-pwd-btn {
  cursor: pointer;
  color: white;
}

/* Style for general buttons */
.box .forms .login .form .btn,
.box .forms .register .form .btn,
.box .forms .fogot-pwd .form .btn {
  width: 40%;
  height: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  color: rgb(45, 50, 80);
  margin: 10px 0;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: 0px 0px 10px rgb(249, 177, 122);
  transition: 0.3s;
  margin-top: 2vw;
  font-family: NeueMachina-Regular;
}

/* Create a gradient effect for the buttons */
.box .forms .login .form .btn,
.box .forms .register .form .btn,
.box .forms .fogot-pwd .form .btn::before {
  content: "";
  width: 42%;
  height: 50px;
  top: -4px;
  left: -4px;
  transition: all .35s;
  border-radius: 50px;
  z-index: -1;
  background: linear-gradient(45deg, grey, white);
  background-size: 1000%;
  animation: smooth 40s linear infinite;
  transition: 0.3s;
}

/* Keyframes for the gradient animation */
@keyframes smooth {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1000% 0;
  }
}

/* Add a hover effect to buttons */
.box .forms .login .form .btn:hover,
.box .forms .register .form .btn:hover,
.box .forms .fogot-pwd .form .btn:hover {
  box-shadow: 0px 0px 15px black;
}

/* Style for the login form */
.box .forms .login {
  position: absolute;
  top: 20%;
  opacity: 1;
  z-index: 10;
  animation: into 1s ease;
}

/* Style for the register form */
.box .forms .register {
  position: absolute;
  top: 80px;
  opacity: 0;
  z-index: -1;
}

/* Style for the forgot password form */
.box .forms .fogot-pwd {
  position: absolute;
  top: 140px;
  opacity: 0;
  z-index: -1;
}
