/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
img{
    height: auto;
    width: 70px;
}
:root{
    
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #161616;

   
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}


.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 50px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 1;
}
.mode .sun-moon i.moon {
    opacity: 0;
}

/* When in dark mode, hide the sun and show the moon */
body.dark .mode .sun-moon i.sun {
    opacity: 0;
}
body.dark .mode .sun-moon i.moon {
    opacity: 1;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}
.history {
    margin-left: 20px;
    margin-left: 20px;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100%;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
    margin: 0;
    overflow: hidden;
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}
.home .work {
    padding: 12px 60px;
    height: 90%;
    width: 100%;
}

body .work .input-area {
    width: 100%;
    height: 90%;
    float: left;
    position: relative; /* 使其子元素可以相对于它进行定位 */
    transition: all .25s;
}
.home .work .query-text {
    width: 100%;
    height: 6%;
    border: none;
    resize: none;
    background-color: transparent;
    font-size: 15pt;
    padding: 6px 10px;
}
.home .work .query-text:focus,.text-area:focus,.ai-text-area:focus {
    outline: none;
}
.home .work .text-area {
    font-size: 13pt;
    font-family: 'Courier New', Courier, monospace;
    padding: 6px 10px;
    resize: none;
    width: 100%;
    height: 100%;
    border-color: rgb(131, 131, 131);
    background-color: transparent;
}

.home button {
    background-color: transparent;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    font-size: 30pt;
    color: #707070;
    border-color: transparent;
    cursor: pointer;
    transition: all .3s;
}
.home button:hover {
    background-color: rgb(183, 203, 233);
}
.home .compare {
    position: absolute;
    bottom: 10px;
    left: 15px;
}
body .ai-text-area-container {
    position: relative;
    float: right; 
    width: 0;
    height: 90%;
    padding-left: 10px;
    overflow: hidden;
}
body .home .ai-text-area {
    background-color: transparent; 
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 13pt;
    float: right;
    padding: 6px 10px;
    display: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13pt;
}
.home .ai-close {
    position: absolute;
    top: 10px;
    right: 15px;
}
body.ai-active .input-area {
    width: 50%;
    transition: all .3s;
}
body.ai-active .ai-text-area-container {
    width: 50%;
    transition: all .3s;
}
body.ai-active .ai-text-area {
    display: block;
}
.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}