html {
    height: 100%;
}

body {
    background-color: #232323;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    overflow: hidden;
}
/* light mode */
body.light { 
    background-color: #ffffff;  /* 设置背景色为白色 */
}

body.light .query-text {
    background-color: rgb(244, 244, 244);
    color: #000000;  /* 设置文本颜色为黑色 */
}
body.light .text-area {
    background-color: rgb(244, 244, 244);
    color: #000000;  /* 设置文本颜色为黑色 */
}
body.light .ai-text-area {
    background-color: rgb(244, 244, 244);  
    color: #000000;  /* 设置文本颜色为黑色 */
}
body.light .ai-text-area-container {
    background-color: #F5F5F5;  /* 设置背景色为白色 */
}

body.light .text {
    color: #FFFFFF;  /* 设置文本颜色为白色 */
}

.form-container button {
    height: 100%;  /* 使按钮高度与其容器一样 */
    line-height: normal; /* 使文字垂直居中 */
}

.main {
    margin: 20px;
    padding: 20px;
    height: 95%;
    width: 100%;
}

.text {
    color: #ffffff; /* VScode默认的文本颜色 */
}
/* light mode(except sidebar) */
body.light .text:not(.left .text, .selector.text) {
    color: #000000;
}

.header {
    display: flex;
}
/* sidebar button */
.header .open::after {
    position: absolute;
    content: '\2630';
    color: #ffffff;
    left: 1.51cm;
    top: 1.19cm;
    pointer-events: none;
}
.header .open .bg {
    position: absolute;
    background-color: rgb(81, 147, 245);
    width: 1cm;
    height: 1cm;
    border-radius: 25%;
    left: 1.2cm;
    top: 1cm;
    cursor: pointer;
    transition: .25s;
}
.header .open .bg:hover {
    width: 1.2cm;
    height: 1.2cm;
    left: 1.1cm;
    top: 0.9cm;
}

/* Q&A button */
.header::after {
    position: absolute;
    content: '\211A';
    color: #ffffff;
    right: 3.79cm;
    top: 1.25cm;
    pointer-events: none;
}
.header .qna {
    position: absolute;
    background-color: rgb(81, 147, 245);
    width: 1cm;
    height: 1cm;
    border-radius: 100%;
    right: 3.44cm;
    top: 1cm;
    cursor: pointer;
    transition: .25s;
}
.header .qna:hover {
    width: 1.2cm;
    height: 1.2cm;
    right: 3.32cm;
    top: 0.9cm;
}

/* 标题 */
.header h1 {
    font-weight: bold;
    font-style: italic;
    margin: 0;
    text-align: center;
    flex: 1;
}

.header::before {
    position: absolute;
    content: '\279C';
    color: #ffffff;
    right: 1.7cm;
    top: 1.2cm;
    pointer-events: none;
    z-index: 1;
}
.header .chat {
    position: absolute;
    background-color: rgb(81, 147, 245);
    width: 1cm;
    height: 1cm;
    border-radius: 100%;
    right: 1.44cm;
    top: 1cm;
    cursor: pointer;
    transition: .25s;
}
.header .chat:hover {
    width: 1.2cm;
    height: 1.2cm;
    right: 1.32cm;
    top: 0.9cm;
}

/* sidebar */
#sidebar {
    width: 0;
    height: 100%;
    transition: .25s;
    overflow-x: hidden;
    position: fixed;
    z-index: 1000;
}

.left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000000;
}
.history {
    padding: 30px;
    position: relative;
    font-size: 15pt;
    margin-top: 10px;
}
/* close button */
.history .close::after {
    position: absolute;
    content: '\2715';
    color: #ffffff;
    pointer-events: none;
    left: 5.7cm;
}
.history .close .bg {
    position: absolute;
    background-color: #000000;
    width: 0.8cm;
    height: 0.8cm;
    border-radius: 25%;
    left: 5.53cm;
    top: 0.75cm;
    cursor: pointer;
    transition: .25s;
}
.history .close .bg:hover {
    width: 1cm;
    height: 1cm;
    left: 5.42cm;
    top: 0.68cm;
    background-color: rgb(50, 62, 80);
}
/* setting button inside the sidebar */
.setting::after {
    position: absolute;
    content: '\2699';
    color: #ffffff;
    right: 1.5cm;
    bottom: 0cm;
    pointer-events: none;
}
.setting .bg {
    position: absolute;
    background-color: rgb(81, 147, 245);
    width: 1.2cm;
    height: 0.8cm;
    border-radius: 25%;
    right: 1.1cm;
    bottom: -0.13cm;
    cursor: pointer;
    transition: .25s;
}
.setting .bg:hover {
    width: 1.4cm;
    height: 1cm;
    right: 1.0cm;
    bottom: -0.22cm;
}
.setting {
    position: relative;
    bottom: 1cm;
    left: 0.3cm;
}

/* switch (design from https://www.bilibili.com/video/BV1pv4y1579Z/?spm_id_from=333.337.search-card.all.click) */
.setting .switch {
    width: 1.1cm;
    height: 1cm;
    cursor: pointer;
    position: relative;
}
.setting .switch input {
    appearance: none;
    /* bar color */
    background-color: rgb(81, 147, 245);
    width: 1.1cm;
    height: 0.13cm;
    border-radius: 15%;
    position: absolute;
    left: 0.6cm;
    bottom: 0.1cm;
}
.setting .switch .circle {
    width: 0.6cm;
    height: 0.6cm;
    background-color: #000000;
    border-radius: 50%;
    position: absolute;
    left: 1.2cm;
    bottom: -0.03cm;
    transition: all 0.35s;
}
/* internal circle */
.setting .switch .circle::after {
    content: "";
    inset: 0.1cm;
    /* small circle color */
    background-color: #232323;
    border-radius: 50%;
    /* ring color */
    box-shadow: inset 0 0 0 0.09cm rgb(81, 147, 245);

    position: absolute;
    transition: all 0.35s;
}
.setting .switch input:checked ~ .circle {
    left: calc(100% + 0.7cm);
}
.setting .switch input:checked ~ .circle::after {
    box-shadow: inset 0 0 0 0.3cm rgb(156, 193, 248);
}
.setting-popup {
    display: none;
    position: absolute;
    background-color: #3C3C3C;
    padding: 10px;
    border-radius: 5px;
    top: 0px; 
    left: 40px;
    z-index: 1001;
    transform: translateY(-100%); 
}

.setting-popup a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-bottom: 1px solid #444;
}

.setting-popup a:last-child {
    border-bottom: none;
}

.setting-popup a:hover {
    background-color: rgba(52, 90, 146, 0.7);
}

.popup-wrapper {
    position: absolute;
    left: 50%;
    bottom: 100%; /* 让它的初始位置在.setting元素的正上方 */
    transform: translateY(-10px) translateX(-50%); /* 小的偏移来实现从上方弹出的效果，并且水平居中对齐 */
    transition: transform 0.3s ease-out; /* 平滑的过渡效果 */
}
.setting:hover .popup-wrapper {
    transform: translateY(0) translateX(-50%); /* 在悬停时重置Y偏移，使其正好位于.setting元素的正上方 */
}

.work {
    margin: 10px;
    padding: 0px;
    height: 100%;
    width: auto;
}

/* generation area */
button {
    background-color: rgb(81, 147, 245);
    border-radius: 5%;
    height: 35px;
    width: 80px;
    font-size: 16px;
    border-color: rgb(88, 155, 255);
    color: rgb(252, 252, 252);
    cursor: pointer;
    transition: all 0.25s;
}
button:hover {
    background-color: rgb(35, 60, 97);
}

/* Workspace area */
.input-area{
    position: relative; /* 使其子元素可以相对于它进行定位 */
    float: left;
    height: 82.6%;
    width: 100%;
    transition: all .25s;
}
.query-text {
    background-color: #414141; 
    color: #FFFFFF;
    width: 99%;
    height: 5%;
    resize: none;
    font-family: Arial;
    font-size: 13pt;
    border-width: 3px;
    border-image: linear-gradient(to right, rgb(51, 96, 179), rgb(133, 138, 163));
    border-image-slice: 1;
}
.query-text:focus {
    outline: none;
}
.text-area {
    background-color: #292929; 
    color: #FFFFFF;
    width: 99%;
    height: 99.4%;
    resize: none;
    font-family: monospace;
    font-size: 13pt;
    border-image: linear-gradient(to right, rgb(133, 138, 163), rgb(51, 96, 179));
    border-image-slice: 1;
    border-width: 3px;
}
.text-area:focus {
    outline: none;
}
/* AI area */

.ai-text-area-container {
    position: relative;
    float: right; 
    height: 91.5%;
    width: 0%;
    overflow-x: hidden;
}
.ai-text-area {
    background-color: #414141; 
    color: #FFFFFF;
    width: 99%;
    height: 97.3%;
    resize: none;
    font-family: monospace;
    font-size: 13pt;
    border-image: linear-gradient(to right, rgb(51, 96, 179), rgb(133, 138, 163));
    border-image-slice: 1;
    border-width: 3px;
}
.ai-text-area:focus {
    outline: none;
}

.ai-close {
    margin: 10px;
    position: absolute;
    top: 10px; /* 调整为需要的位置 */
    right: 10px; /* 调整为需要的位置 */
}

body.ai-active .input-area {
    width: 50%;
    transition: all .25s;
}

body.ai-active .ai-text-area-container {
    /* display: block; */
    width: 50%;
    transition: all .25s;
}



