{% extends "navBar.html" %}
{% block title %}Intro{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/intro.css') }}">
{% endblock %}
    


{% block body %}
    <div class="HelloCodeGPT">
        Hello,CodeGPT!
    </div>
    <div class="box">
        <div class = "output">Hello CodeGPT</div>
    </div>
     
    <div class="leftbox">
    <div class="video-container">
        <video src="{{ url_for("static", filename="images/handwrite.mov") }}" autoplay muted playsinline loop controlsList="nodownload" poster="video-poster.jpg"></video>
    </div>
    </div>
    
    <div class="introduction">
        <h1>欢迎来到 Code GPT</h1>
    <p>Code GPT 是一个致力于帮助初学者解决编程方面的困惑的在线资源。无论您是编程新手还是有一些经验的开发者，我们都为您提供了以下服务：</p>
    <ul>
        <li><strong>编程问题解答：</strong>您可以向 Code GPT 提出各种编程问题，我们的智能模型将尽力帮助您找到答案。</li>
        <li><strong>编程指导：</strong>我们提供有关各种编程语言、框架和工具的详细指南，以帮助您更好地理解编程世界。</li>
        <li><strong>代码示例：</strong>我们提供大量的代码示例和教程，以便您学习和掌握编程技能。</li>
        <li><strong>编程资源：</strong>从编码规范到常见错误的解决方案，我们提供了广泛的编程资源，帮助您成为更好的开发者。</li>
    </ul>
    <p>无论您是想入门编程还是深入探索更多编程知识，Code GPT 都将成为您的有力支持。开始使用我们的服务，让编程之旅变得更加愉快和容易。</p>
        <h1>Welcome to Code GPT</h1>
    <p>Code GPT is an online resource dedicated to helping beginners overcome programming challenges. Whether you're a programming novice or have some experience as a developer, we offer the following services:</p>
    <ul>
        <li><strong>Programming Problem Solving:</strong> You can submit various programming questions to Code GPT, and our intelligent model will do its best to assist you in finding solutions.</li>
        <li><strong>Programming Guidance:</strong> We provide detailed guides on various programming languages, frameworks, and tools to help you better understand the world of programming.</li>
        <li><strong>Code Samples:</strong> We offer a vast collection of code examples and tutorials to help you learn and master programming skills.</li>
        <li><strong>Programming Resources:</strong> From coding standards to solutions for common errors, we provide a wide range of programming resources to help you become a better developer.</li>
    </ul>
    <p>Whether you're looking to start your journey into programming or delve deeper into programming knowledge, Code GPT is here to provide strong support. Start using our services and make your programming journey more enjoyable and accessible.</p>
    </div>

{% endblock %}