<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
<header>
    <nav class="top-menu">
        <ul>
            <li><a href="{{ url_for("gpt.chat") }}">CodeGPT</a></li>
            <li><a class="active" href="{{ url_for("index.intro") }}">Introduction</a></li>
            {% if user %}
                <li><a href="{{ url_for("index.intro") }}">{{ user.username }}</a></li>
            {% else %}
                <li><a href="{{ url_for("auth.login") }}">Sign In/ up</a></li>
            {% endif %}
            <li><a href="{{ url_for("qa.blogs") }}">Q&A</a></li>
        </ul>
    </nav>
</header>


<div class="container">
    {% block body %}{% endblock %}
</div>
</body>
</html>